application.*
data/config.json
data/stats.json
keybindings.json
out
*~
.cache*
data/cache
data/pocket
data/engine/realmtemplates
data/engine/realmtemplates/*
.vscode
timeway_windows_64
timeway_linux_64
timeway_macos_64
timeway_windows_32
timeway_linux_32
timeway_macos_32
*.zip
AndroidManifest.xml
code/sketch.properties
.pixelrealm-turf.json
timeway_update.json
timeway_windows_*
timeway_linux_*
timeway_macos_*
error_log.txt
*.desktop
*.aup3
windows-amd64
linux-amd64
macos-amd64
macos-arm64
buildPackage
*.apk

